@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Showroom</h1>
    <img style="width: 100%;"src="https://images.adsttc.com/media/images/54c1/9460/e58e/ce74/e100/001c/large_jpg/KRADS_P6.jpg?1421972561" alt="Alternate Text" />
</div>
